<div class="container">

  <header class="navbar">

    <div class="logo">
      <h2>Portal Académico</h2>
    </div>

    <nav>
      <a href="#" (click)="mostrarFormulario = false; $event.preventDefault()">
        Inicio
      </a>

      <a href="#" (click)="mostrarFormulario = true; $event.preventDefault()">
        Crear Recursos
      </a>
    </nav>

  </header>

<section class="hero">

  <div class="hero-content">

    <h1>Portal Académico</h1>

    <p class="subtitle" style="color: aliceblue;">
      Gestión de usuarios y recursos multimedia
    </p>

    <div class="authors">

      <span class="authors-title">
        Desarrollado por
      </span>

      <div class="author-list">
        <span>Angélica Panamá</span>
        <span>Fernando Mejía</span>
      </div>

    </div>

  </div>

</section>




  <!-- LISTA DE RECURSOS -->
  <div *ngIf="!mostrarFormulario">

    <section class="cards-container">

      <div class="card" *ngFor="let recurso of recursos">

        <img
          [src]="obtenerImagen(recurso.resource_type)"
          alt="recurso"
        />

        <div class="card-body">

          <h3>{{ recurso.title }}</h3>

          <p>{{ recurso.description }}</p>

          <span class="tipo">
            {{ recurso.resource_type }}
          </span>

          <p class="autor">
            Autor: {{ recurso.author }}
          </p>

          <a
            [href]="recurso.url"
            target="_blank"
            class="btn"
          >
            Ver Recurso
          </a>

        </div>

      </div>

    </section>

  </div>

  <!-- FORMULARIOS -->

  <div *ngIf="mostrarFormulario">

    <div class="contenedor-formulario">

      <section class="form-card">

        <h2>Registrar Usuario</h2>

        <input
            type="text"
            placeholder="Nombre"
            [(ngModel)]="nuevoUsuario.name"
          >

          <input
            type="email"
            placeholder="Correo"
            [(ngModel)]="nuevoUsuario.email"
          >
      </section>

      <section class="form-card">

        <h2>Registrar Recurso</h2>

        <input
          type="text"
          placeholder="Título"
          [(ngModel)]="nuevoRecurso.title"
        >

        <input
          type="text"
          placeholder="Descripción"
          [(ngModel)]="nuevoRecurso.description"
        >

        <select
          [(ngModel)]="nuevoRecurso.resource_type"
        >

          <option value="">
            Seleccione un tipo
          </option>

          <option value="VIDEO">
            Video
          </option>

          <option value="IMAGE">
            Imagen
          </option>

          <option value="DOCUMENT">
            Documento
          </option>

        </select>
        <input
          type="text"
          placeholder="URL"
          [(ngModel)]="nuevoRecurso.url"
        >
      </section>

      <button class="boton" (click)="crearTodo()">
        Crear Recurso
      </button>
    </div>

  </div>

</div>
<div class="server-indicator">
  {{ serverName }}
</div>